# PRODUCTION / backend cPanel
NEXT_PUBLIC_API_URL=https://bricomenage.com/api
NEXT_PUBLIC_SOCKET_URL=https://bricomenage.com
NEXT_PUBLIC_SOCKET_PATH=/api/socket.io

# LOCAL (décommentez pour utiliser le backend local)
# NEXT_PUBLIC_API_URL=http://localhost:5000/api
# NEXT_PUBLIC_SOCKET_URL=http://localhost:5000
# NEXT_PUBLIC_SOCKET_PATH=/socket.io
