# LOCAL
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000
NEXT_PUBLIC_SOCKET_PATH=/socket.io

# PRODUCTION
# NEXT_PUBLIC_API_URL=https://bricomenage.com/api
# NEXT_PUBLIC_SOCKET_URL=https://bricomenage.com
# NEXT_PUBLIC_SOCKET_PATH=/api/socket.io
